<div class="row">
<% @shops.each do |shop| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag shop.image.url(:medium)%>
      <div class="caption">
        <h3><%= shop.name %></h3>
        <p><%= shop.desc %></p>
        <p><%= link_to 'View', shop_path(shop), class: 'btn btn-primary' %></p>
      </div>
    </div>
  </div>
<% end %>
  <!-- <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div> -->
</div>



